@model ToDoList.Data.ToDo
@{
    ViewBag.Title = "Index";
}

<h2>To Do</h2>

<table>
    <thead>
        <tr>
            <td>Title</td>
            <td>Priority</td>
            <td>Status</td>
        </tr>
    </thead>
    @foreach (var todo in Model)
    {
        <tbody>
            <tr>
                <td>@todo.Title</td>
               @* <td>@todo.</td>*@
                <td>@todo.IsDone</td>
            </tr>
        </tbody>
    }
</table>